<h1>Editing Reason For Non Attendance</h1>

<%= render 'form', reason_for_non_attendance: @reason_for_non_attendance %>

<%= link_to 'Show', @reason_for_non_attendance %> |
<%= link_to 'Back', reason_for_non_attendances_path %>
