<p id="notice"><%= notice %></p>

<p>
  <strong>Motivo:</strong>
  <%= @reason_for_non_attendance.motivo %>
</p>

<%= link_to 'Edit', edit_reason_for_non_attendance_path(@reason_for_non_attendance) %> |
<%= link_to 'Back', reason_for_non_attendances_path %>
